<div class="container">
  <div class="text-center col-sm-12"  ng-if="!userCtrl.user">
    Not Signed Up Yet.
    <a ui-sref="public.signup">
      <br class="hidden-xs">
      Sign up Now!
    </a>
  </div>

  <fieldset ng-if="userCtrl.user">
    <legend class="text-center text-info">User Info</legend>
    <form name='regForm' novalidate class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">First name</label>
        <label class="col-sm-9">{{userCtrl.user.firstName}}</label>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Last name</label>
        <div class="col-sm-9">
          {{userCtrl.user.lastName}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          {{userCtrl.user.email}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Favorite dish</label>
        <div class="col-sm-9">
          {{userCtrl.user.favoriteDish}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Phone</label>
        <div class="col-sm-9">
          {{userCtrl.user.phone}}
        </div>
      </div>

      <legend class="text-center text-info">Favorite Dish</legend>
          <div class="col-sm-5">
              <img
                class="img-responsive"
                width="250"
                height="150"
                ng-src="{{userCtrl.basePath}}/images/{{userCtrl.user.dish.short_name}}.jpg"
                alt="{{userCtrl.user.dish.name}}">
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">{{userCtrl.user.dish.name}}</h3>
            <p class="menu-item-details">{{userCtrl.user.dish.description}}</p>
          </div>
    </form>
  </fieldset>
</div>
